/* importando o global */
@import url('./global.css');

body {
    /* usando a variável global no bg */
    /* background-color: var(--variable-example); */
}
.hero{
    background-image: url('../img/phone2.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 80vh;       
    


    margin: auto;
    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}
